
/* Configuramos el color de fondo para toda la página */

body {

    font-family: 'Source Sans 3', sans-serif;
    background-color: maroon;
    background-image: url("fondo-2.jpeg");
    background-attachment: fixed;
    background-blend-mode: multiply;

}


h1, h2{

    font-family: 'EB Garamond', serif;
    font-weight: 500; 
    font-style: italic; /* Aquí es donde aparece el trazo caligráfico */
    color: white;
    text-align: center;
    font-size: 2.5em; /* Ajustamos el tamaño para que sea legible y estético */

}

.amp {

    font-family: 'Source Sans 3', sans-serif; /* Usamos la otra fuente que ya cargamos */
    font-style: italic; /* Le quitamos la cursiva solo a este símbolo */
    font-weight: 400;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 160px;
}

/* Esto quita el subrayado de los enlaces que envuelven a tus h3 */
a {
    text-decoration: none;
}

h3{

    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.5px;
    
  }

.botones {

    color: whitesmoke;
    background-color: darkgreen;
    width: 670px;
    height: 40px;
    border-radius: 0px 50px 50px 50px;
    box-shadow: 5px 5px 10px 3px black; /* X - Y - difuminado - espaciado - color */
    /* padding-left: 30px; Esto distancia el texto del borde izquierdo de la caja */
    /* padding-top: Esto distancia el texto del borde superior de la caja */
    margin: 25px auto 25px auto; /* Esto marca los márgenes de cada lado en sentido de las agujas del reloj */

    /* Nuevas propiedades para centrar: */
    display: flex;           /* Convierte al div en un contenedor flexible */
    align-items: center;     /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */

}

p{
    color: white;
}