
/* Configuramos el color de fondo para toda la página */
body {
    background-color: maroon;
}


h1, h2{
    color: white;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Esto quita el subrayado de los enlaces que envuelven a tus h3 */
a {
    text-decoration: none;
}

h3{

    font-size: 20px;
    
  }

.botones {

    color: whitesmoke;
    background-color: darkgreen;
    width: 650px;
    height: 40px;
    /* padding-left: 30px; Esto distancia el texto del borde izquierdo de la caja */
    /* padding-top: Esto distancia el texto del borde superior de la caja */
    margin: 25px auto 25px auto; /* Esto marca los márgenes de cada lado en sentido de las agujas del reloj */

    /* Nuevas propiedades para centrar: */
    display: flex;           /* Convierte al div en un contenedor flexible */
    align-items: center;     /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */

}

p{
    color: white;
}